streamlit==1.42.0
supabase==2.4.6
python-dotenv==1.0.1
Pillow==10.3.0


#but for windows do this
#streamlit
#supabase
#python-dotenv
#Pillow==10.0.0


#do not forget this for cookies: pip install "streamlit-cookies-manager>=0.2.0"
#verify the above by: pip list | findstr streamlit-cookies-manager  OR  pip show streamlit-cookies-manager